
nav .navbar
{
    /* size for brand */
    color: black;
    font-size: xx-large;
}

.card {
    /* background: #9c9797; */
    background: #74aea7;
    /* background: #F8666E; */
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
}

.card button {
    color: white;
    border: 2px solid white;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

body{
    font-size: 20px;
    font-family: monospace;
}

#container{
    margin : 20px auto;
    background-color: white;
    height: 400px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}