{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<script type="text/javascript">
    (function(d,s,id,u){
      if (d.getElementById(id)) return;
      var js, sjs = d.getElementsByTagName(s)[0],
          t = Math.floor(new Date().getTime() / 1000000);
      js=d.createElement(s); js.id=id; js.async=1; js.src=u+'?'+t;
      sjs.parentNode.insertBefore(js, sjs);
    }(document, 'script', 'os-widget-jssdk', 'https://www.opinionstage.com/assets/loader.js'));
    </script><div id="os-widget-1002786" class="os_widget" data-path="/thomas97/vragenlijst-of-interview" data-of="thomas97" data-opinionstage-widget="31bde0a8-f74f-42d0-bb00-c45666fb27cd"></div>
    

    <!-- <div class="card">
        <p></p> -->
            <!-- <h4 class="nav-item"><a class="nav-link" href="/references/">Klik hier voor een onderbouwing per vraag</a></h4> -->
    <!-- </div> -->

{% endblock %}
