{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<iframe name="opinionstage-widget" src="https://www.opinionstage.com/api/v1/widgets/1002786/iframe?em=1" data-opinionstage-iframe="31bde0a8-f74f-42d0-bb00-c45666fb27cd" width="100%" height="100%" scrolling="auto" style="border: none;" frameBorder="0" allow="fullscreen" webkitallowfullscreen="true" mozallowfullscreen="true" referrerpolicy="no-referrer-when-downgrade"></iframe>

    

    <!-- <div class="card">
        <p></p> -->
            <!-- <h4 class="nav-item"><a class="nav-link" href="/references/">Klik hier voor een onderbouwing per vraag</a></h4> -->
    <!-- </div> -->
    <div class="footer-shell pt-5 mt-5 py-sm-0">
        <footer class="footer">
            <div class="container">
                <div class="row justify-content-between justify-content-md-around">
                    <div class="col-sm-18 col-md-12 col-lg-9 col-xl-12 col-xxl-15 text-white pt-1">
                        <p>Door Merijn van der Leek, Thijs Hoppenbrouwers, Simon Kreulen en Thomas Koene</p>
                        <p>2022 &copy; Onderzoeksmethoden en -technieken, bachelor Informatiekunde, Universiteit van Amsterdam. Alle rechten voorbehouden. </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}
