{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<iframe name="opinionstage-widget" src="https://www.opinionstage.com/api/v1/widgets/1002786/iframe?em=1" data-opinionstage-iframe="31bde0a8-f74f-42d0-bb00-c45666fb27cd" width="50%" height="800px" scrolling="auto" style="border: none;" frameBorder="0" allow="fullscreen" webkitallowfullscreen="true" mozallowfullscreen="true" referrerpolicy="no-referrer-when-downgrade"></iframe>

    

    <!-- <div class="card">
        <p></p> -->
            <!-- <h4 class="nav-item"><a class="nav-link" href="/references/">Klik hier voor een onderbouwing per vraag</a></h4> -->
    <!-- </div> -->
    <div class="footer-shell pt-5 mt-5 py-sm-0">
        <footer class="footer">
            <div class="container">
                <div class="row justify-content-between justify-content-md-around">
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-4 col-xxl-5 text-white pt-1">
                        2022 &copy; Merijn van der Leek, Thijs Hoppenbrouwers, Simon Kreulen en Thomas Koene
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3 text-white pt-1">
                        Alle rechten voorbehouden
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}
