{% extends "layout.html" %}

{% block title %}
    Onderbouwing
{% endblock %}

{% block main %}
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h4 class="card-title">Onderbouwing voor de vragen</h4>
            <p></p>
            
            <body lang="NL" link="#0563C1" vlink="#954F72">

                <div class="WordSection1">

                <p class="MsoNormal"><b>Vraag 1<o:p></o:p></b></p>

                <p class="MsoNormal">“In mijn onderzoek is tijd een schaars goed, waar efficiënt
                mee omgegaan moet worden”&nbsp;</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: vragenlijst</p>

                <p class="MsoNormal">helemaal mee oneens: interview / vragenlijst</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">De belangrijkste afweging in het kiezen van een vragenlijst
                of interview is de hoeveelheid tijd die aan je onderzoek is gebonden. Mocht
                tijd schaars zijn, wordt het sterk afgeraden om interviews af te nemen aangezien
                dit veel meer tijd in beslag neemt dan online vragenlijsten. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">20/100 punten</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span lang="EN-GB">Adams, A.,
                &amp; Cox, A. L. (2008).&nbsp;<i>Questionnaires, in-depth interviews and focus
                groups</i>&nbsp;(pp. 17-34). Cambridge University Press. Van <a href="http://oro.open.ac.uk/11909/">http://oro.open.ac.uk/11909/</a> </span><a href="https://books.google.it/books?hl=nl&amp;lr=&amp;id=sqoWEAAAQBAJ&amp;oi=fnd&amp;pg=PA153&amp;dq=how+to+choose+between+interviews+and+questionnaires+for+research&amp;ots=Hdr_zntuEA&amp;sig=1nlV8e4U8eK6642cr3SLFMd5lSk&amp;redir_esc=y#v=onepage&amp;q=how%20to%20choose%20between%20interviews%20and%20questionnaires%20for%20research&amp;f=false"></a><span lang="EN-GB"><o:p></o:p></span></p>

                <p class="MsoNormal"><span lang="EN-GB">--------------------------------------------------------------------<br>
                <!--[if !supportLineBreakNewLine]--><br>
                <!--[endif]--><o:p></o:p></span></p>

                <p class="MsoNormal"><b>Vraag 2<o:p></o:p></b></p>

                <p class="MsoNormal">“Ik weet precies wat ik moet vragen en welke informatie ik
                nodig heb”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: vragenlijst<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: interview<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Als je niet precies weet welke informatie en inzichten
                essentieel zijn voor jouw onderzoek kun je beter gebruik maken van een interview.
                Bij interviews fungeren de geïnterviewden namelijk als experts die kunnen
                vertellen welke informatie en inzichten er nodig zijn voor jouw onderzoek. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">15/100 punten</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><a name="_Hlk104841464"><span lang="EN-GB">Irvine, A. (2018, 18 </span></a><span class="SpellE"><span><span lang="EN-GB">januari</span></span></span><span><span lang="EN-GB">). <i>Interviews vs. Surveys</i>. </span>Thesislink.
                Geraadpleegd op 16 mei 2022, van </span><a href="https://thesislink.aut.ac.nz/?p=6198"><span>https://thesislink.aut.ac.nz/?p=6198</span><span></span></a><span>
                <o:p></o:p></span></p>

                <span></span>

                <p class="MsoNormal">--------------------------------------------------------------------<br>
                <!--[if !supportLineBreakNewLine]--><br>
                <!--[endif]--></p>

                <p class="MsoNormal"><b>Vraag 3<o:p></o:p></b></p>

                <p class="MsoNormal">“Voor mijn onderzoek moeten veel vragen gesteld worden”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: vragenlijst<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: interview / vragenlijst<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Als er voor het onderzoek veel vragen nodig zijn is het
                beter om voor een vragenlijst te kiezen dan voor een interview. Dit heeft te
                maken met de tijd, zowel de tijd die het kost om het interview af te nemen, als
                om de tijd die het kost om het interview te transcriberen en de benodigde data
                eruit te filteren. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">10/100 punten<o:p></o:p></p>

                <p class="MsoNormal"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span lang="EN-GB">Irvine, A.
                (2018, 18 <span class="SpellE">januari</span>). <i>Interviews vs. Surveys</i>. </span>Thesislink.
                Geraadpleegd op 16 mei 2022, van <a href="https://thesislink.aut.ac.nz/?p=6198">https://thesislink.aut.ac.nz/?p=6198</a>
                <o:p></o:p></p>

                <p class="MsoNormal">--------------------------------------------------------------------<br>
                <!--[if !supportLineBreakNewLine]--><br>
                <!--[endif]--></p>

                <p class="MsoNormal"><b>Vraag 4<o:p></o:p></b></p>

                <p class="MsoNormal">“Het is van belang voor mijn onderzoek dat de resultaten
                representatief zijn voor een grotere doelgroep, en dus <span class="SpellE">generaliseerbaar</span>
                zijn”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: vragenlijst<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: interview / vragenlijst<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Wanneer er vooral gedoeld wordt op het generaliseren van de
                resultaten naar een grotere groep, is het waarschijnlijk het meest verstandig
                om een vragenlijst te kiezen. Deze heeft namelijk eerder een veel groter bereik
                dan een interview, waardoor de resultaten <span class="SpellE">generaliseerbaarder</span>
                zijn. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">10/100 punten<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span lang="EN-GB">Driscoll,
                D. L. (2011). Introduction to primary research: Observations, surveys, and
                interviews.&nbsp;</span><span class="SpellE"><i>Writing</i></span><i> <span class="SpellE">spaces</span>: Readings on <span class="SpellE">writing</span></i>,&nbsp;<i>2</i>(2011),
                153-174. </p>

                <p class="MsoNormal">--------------------------------------------------------------------<br>
                <!--[if !supportLineBreakNewLine]--><br>
                <!--[endif]--></p>

                <p class="MsoNormal"><b>Vraag 5<o:p></o:p></b></p>

                <p class="MsoNormal">“Het is belangrijk dat anderen mijn onderzoek kunnen
                uitvoeren en daarmee tot dezelfde resultaten komen, dus het onderzoek moet <span class="SpellE">repliceerbaar</span> zijn”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: vragenlijst<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: interview / vragenlijst</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Doordat onderzoeken met een interview als hoofdbron van data
                vaak kwalitatief van aard zijn, is de steekproefomvang vaak relatief klein. Dit
                zorgt ervoor dat het onderzoek en de resultaten lastiger te repliceren zijn ten
                opzichte van een onderzoek gebaseerd op vragenlijst data, waarbij de steekproef
                omvang vaak groter is. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">10/100 punten<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span lang="EN-GB">Harris, L.
                R., &amp; Brown, G. T. (2010). Mixing interview and questionnaire methods:
                Practical problems in aligning data.&nbsp;</span><i>Practical Assessment,
                Research, <span class="SpellE">and</span> Evaluation</i>,&nbsp;<i>15</i>(1), 1. </p>

                <p class="MsoNormal">--------------------------------------------------------------------<br>
                <!--[if !supportLineBreakNewLine]--><br>
                <!--[endif]--></p>

                <p class="MsoNormal"><b>Vraag 6<o:p></o:p></b></p>

                <p class="MsoNormal">“De vragen binnen mijn onderzoek zijn gevoelig voor (sociale)
                invloeden of percepties van de interviewer”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: vragenlijst<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: interview<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Fysieke interactie met een interviewer is gevoeliger voor sociale
                invloeden of percepties dan wanneer vragen gesteld worden op een online vragenlijst.
                Denk hierbij aan invloeden als een bepaalde intonatie, lichaamstaal of blik van
                de interviewer tijdens het stellen van vragen. Als een onderzoek hier gevoelig
                voor is, kan er beter gebruik gemaakt worden van een vragenlijst. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">10/100 punten<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span class="SpellE"><span lang="EN-GB">Phellas</span></span><span lang="EN-GB">,
                C. N., Bloch, A., &amp; Seale, C. (2011). Structured methods: interviews,
                questionnaires and observation.&nbsp;</span><span class="SpellE"><i>Researching</i></span><i>
                society <span class="SpellE">and</span> culture</i>,&nbsp;<i>3</i>(1), 23-32. <a href="https://scholarworks.umass.edu/cgi/viewcontent.cgi?article=1227&amp;context=pare"></a><br>
                --------------------------------------------------------------------</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Vraag 7<o:p></o:p></b></p>

                <p class="MsoNormal">“Het is voor mijn onderzoek nuttig om interactie te hebben
                met de proefpersonen”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: interview<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: vragenlijst<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Als er behoefte is aan interactie met de proefpersonen om
                meer inzicht te krijgen in de redenen achter hun respons, is het beter om een
                interview te gebruiken. Bij een interview kan er namelijk van het script afgeweken
                worden om de redenen achter een antwoord te achterhalen.</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">10/100 punten<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span lang="EN-GB">Jain, N.
                (2021). Survey versus interviews: Comparing data collection tools for
                exploratory research.&nbsp;</span><i>The <span class="SpellE">Qualitative</span>
                Report</i>,&nbsp;<i>26</i>(2), 541-554. </p>

                <p class="MsoNormal">--------------------------------------------------------------------<br>
                <!--[if !supportLineBreakNewLine]--><br>
                <!--[endif]--></p>

                <p class="MsoNormal"><b>Vraag 8<o:p></o:p></b></p>

                <p class="MsoNormal">“Voor het onderzoek wil ik diepgaande antwoorden op de
                vragen, eventueel met toelichting”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: interview<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: vragenlijst<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Als er behoefte is aan diepgaande antwoorden, eventueel met
                toelichting, is het beter om voor een interview te kiezen. Het is dan namelijk
                makkelijker om meer redenen voor het geven van een bepaald antwoord uit een
                proefpersoon te halen. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">5/100 punten<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span lang="EN-GB">Irvine, A.
                (2018, 18 <span class="SpellE">januari</span>). <i>Interviews vs. Surveys</i>. </span>Thesislink.
                Geraadpleegd op 16 mei 2022, van <a href="https://thesislink.aut.ac.nz/?p=6198">https://thesislink.aut.ac.nz/?p=6198</a></p>

                <p class="MsoNormal">--------------------------------------------------------------------<br>
                <!--[if !supportLineBreakNewLine]--><br>
                <!--[endif]--></p>

                <p class="MsoNormal"><b>Vraag 9<o:p></o:p></b></p>

                <p class="MsoNormal">“Vragen van mijn onderzoek zouden als sociaal ongemakkelijk
                ervaren kunnen worden, waardoor anonimiteit wellicht gewaardeerd wordt”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b><span lang="EN-GB">Antwoord<o:p></o:p></span></b></p>

                <p class="MsoNormal">helemaal mee eens: vragenlijst<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: interview / vragenlijst</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Wanneer vragen van een onderzoek als sociaal ongemakkelijk
                ervaren kunnen worden, kan er beter voor een vragenlijst gekozen worden omdat
                de anonimiteit hierbij beter gerespecteerd wordt vergeleken met een fysiek
                interview, waar anonimiteit van de participant tegenover de interviewer lastig
                te bewaren is. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">5/100 punten<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span class="SpellE"><span lang="EN-GB">Phellas</span></span><span lang="EN-GB">,
                C. N., Bloch, A., &amp; Seale, C. (2011). Structured methods: interviews,
                questionnaires and observation.&nbsp;</span><span class="SpellE"><i>Researching</i></span><i>
                society <span class="SpellE">and</span> culture</i>,&nbsp;<i>3</i>(1), 23-32. </p>

                <p class="MsoNormal">--------------------------------------------------------------------<br>
                <!--[if !supportLineBreakNewLine]--><br>
                <!--[endif]--></p>

                <p class="MsoNormal"><b>Vraag 10<o:p></o:p></b></p>

                <p class="MsoNormal">“Het is van belang dat ik de mening van experts
                gedetailleerd kan notuleren”</p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Antwoord<o:p></o:p></b></p>

                <p class="MsoNormal">helemaal mee eens: interview<o:p></o:p></p>

                <p class="MsoNormal">helemaal mee oneens: interview / vragenlijst<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Onderbouwing<o:p></o:p></b></p>

                <p class="MsoNormal">Gedetailleerd informatie verzamelen, extra vragen kunnen
                stellen en doorvragen op bepaalde aspecten is het beste mogelijk tijdens een
                fysiek interview. Mochten uw participanten bepaalde experts zijn, waarvan je zo
                nauwkeurig mogelijk antwoorden wilt vergaren, dan is een fysiek interview
                geschikter dan een online survey. </p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Weging<o:p></o:p></b></p>

                <p class="MsoNormal">5/100 punten<o:p></o:p></p>

                <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

                <p class="MsoNormal"><b>Bron<o:p></o:p></b></p>

                <p class="MsoNormal"><span class="SpellE"><span lang="EN-GB":
                EN-GB>Phellas</span></span><span lang="EN-GB">,
                C. N., Bloch, A., &amp; Seale, C. (2011). Structured methods: interviews,
                questionnaires and observation.&nbsp;</span><span class="SpellE"><i>Researching</i></span><i>
                society <span class="SpellE">and</span> culture</i>,&nbsp;<i>3</i>(1), 23-32. </p>
                
                </div>
            </body>

        </div>
    </div>
{% endblock %}