{% extends "layout.html" %}

{% block title %}
    Why
{% endblock %}

{% block main %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">Onderbouwing voor de vragen</h4>
        <p></p>

        <body lang="NL" link="#0563C1" vlink="#954F72">

            <div class="WordSection1">

            <p class="MsoNormal"><b><span>Introductie<o:p></o:p></span></b></p>

            <p class="MsoNormal"><span>Voor het uitvoeren van
            een onderzoek is het van belang om je goed te oriënteren op de methode die je
            wilt gaan gebruiken om data te verzamelen. Ongeacht het onderwerp van het
            onderzoek, zal er vaak een van de volgende twee methodes nodig zijn: vragenlijsten
            of interviews. Vragenlijsten kunnen de vorm aannemen van bijvoorbeeld een
            online survey, en interviews worden vaak fysiek afgenomen met een participant
            en één of meerdere interviewers die het gesprek aangaan met de desbetreffende
            persoon. <o:p></o:p></span></p>

            <p class="MsoNormal"><span><o:p>&nbsp;</o:p></span></p>

            <p class="MsoNormal"><span>Het gebruikmaken van vragenlijsten
            als zodanig, is niet zomaar een onderzoeksmethode. Het is een zeer flexibel
            instrument. Een aantal aspecten zijn hierbij belangrijk: de type vragen, maar
            ook hoe deze worden gepresenteerd en de verwoording daarvan. De geschiedenis
            van deze methode dateert ver terug, waar het woord na 1700 officieel in gebruik
            genomen werd, en het in 1885 in <i>de Groene Amsterdammer</i> voor het eerst werd
            gedefinieerd als “vraaggesprek met een journalist” (Roos &amp; Vos, 2005, sectie
            oorsprong). De onderzoeksmethode interviewen is een heel andere manier om data
            te verzamelen. Hierbij ligt naast de inhoud van de vragen zelf, veel meer de
            nadruk op de persoonlijke interactie tussen de interviewer(s) en de geïnterviewde.
            Dit is ook af te leiden aan de betekenis van het woord, aangezien het woord
            interview is afgeleid van het Franse <span class="SpellE">entrevoir</span>, wat
            zoveel betekent als 'elkaar persoonlijk ontmoeten'. <o:p></o:p></span></p>

            <p class="MsoNormal"><span><o:p>&nbsp;</o:p></span></p>

            <p class="MsoNormal"><b><span>Maatschappelijk en
            wetenschappelijke impact<o:p></o:p></span></b></p>

            <p class="MsoNormal"><span>Uiteraard is de
            relevantie groot van het weten welke methode het meest geschikt is voor jouw
            onderzoek. Zoals eerder genoemd, komen veel onderzoeken op een gegeven moment
            in aanmerking met ofwel het afnemen van vragenlijsten, of het houden van
            interviews voor het verzamelen van informatie. Het is voor ieder persoon die
            een onderzoek gaat uitvoeren daarom van belang om voorafgaand aan het onderzoek
            zelf, goed te weten welke van de twee methoden het best geschikt is voor zijn
            of haar onderzoek. Met deze website hopen wij steun te bieden bij deze keuze.
            De wetenschappelijke relevantie van onze website heeft vooral betrekking tot de
            categorisering van de verschillende soorten vragen (en de belangen daarbij) in
            ofwel beter passend bij een interview, of bij een vragenlijst. Wetenschappelijk
            gezien zou hier in de toekomst wellicht dieper op in gegaan kunnen worden om
            erachter te komen of er meer factoren van invloed zijn op deze categorisering. Vooralsnog
            zijn de criteria in onze beslissingsboom de belangrijkste die we hebben kunnen
            vinden. <o:p></o:p></span></p>

            <p class="MsoNormal"><span><o:p>&nbsp;</o:p></span></p>

            <p class="MsoNormal"><b><span>Bron</span></b><span><o:p></o:p></span></p>

            <p class="MsoNormal"><span>Roos &amp; Vos, (2005). <i>Interviewen</i>.
            Onderzoeksmethoden (vervolg). Geraadpleegd op: </span><a href="http://cs.ru.nl/~tomh/onderwijs/om2%20(2005)/om2_files/syllabus/interviewen.pdf"><span>http://cs.ru.nl/~tomh/onderwijs/om2%20(2005)/om2_files/syllabus/interviewen.pdf</span></a><span><o:p></o:p></span></p>

            </div>
        </body>

    </div>
</div>
        
<div class="footer-shell pt-5 mt-5 py-sm-0">
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-between justify-content-md-around">
                <div class="col-sm-18 col-md-12 col-lg-9 col-xl-12 col-xxl-15 text-white pt-1">
                    2022 &copy; Groep C5: Merijn van der Leek, Thijs Hoppenbrouwers, Simon Kreulen en Thomas Koene. Onderzoeksmethoden en -technieken, bachelor Informatiekunde, Universiteit van Amsterdam. Alle rechten voorbehouden.
                </div>
            </div>
        </div>
    </footer>
</div>

{% endblock %}